<configuration>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId=%X{requestId}] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework.cloud.gateway.route" level="DEBUG"/>
    <logger name="org.springframework.cloud.gateway.filter" level="DEBUG"/>
    <logger name="reactor.netty.http.server.HttpServer" level="DEBUG"/>
</configuration>
